
.Person {
    display: flex;
    padding: 5px;
    margin: 5px;
    width: 300px;
    height: 150px;
    background: rebeccapurple;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
