.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App button.Red {
    background: red;
}

.App button.Red:hover {
    background: green;
}
